# to use run `pip install -r requirements.txt` in this folder in the terminal

cryptography==39.0.1
Django==4.1.7
django-browser-reload==1.6.0
fastapi==0.92.0
passlib==1.7.4
PyMySQL==1.0.2
python-jose==3.3.0
tailwind==3.1.5b0
uvicorn==0.20.0